[submodule "modules/mavlink"]
	path = modules/mavlink
	url = https://github.com/ArduPilot/mavlink.git
[submodule "modules/c_library_v2"]
	path = modules/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
